.backgrounds.animated-big-bang {  
  
  width:200%;
  height:200%;
  top:-50%;
  margin-left:-50%;
  position:absolute; 
  opacity: 1;
  
  transform: translate3d(0,0,0);
  animation: rotate-big-bang 80s linear infinite;  
  
  -webkit-transform: translate3d(0,0,0);
  -webkit-animation: rotate-big-bang 80s linear infinite;  
}

.backgrounds.gradient-cover {
  top:0px;left:0px;bottom:0px;right:0px;
  position:absolute;
  background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,0) 100%); 
}

@-webkit-keyframes rotate-big-bang {
  from {
    -webkit-transform: rotate(0deg);
  }
to {
  -webkit-transform: rotate(360deg);
}
}

@keyframes rotate-big-bang   {
  from {
    transform: rotate(0deg);
  }
to {
  transform: rotate(360deg);
}
}