.inactive {
        text-align:center;
        //background-color:blue;
        position:absolute;
        top: 25%; left:0%; right:0%;              
}

.inactive .logo {
        font-size:600%;   
}

.inactive .subtitle {
        font-size:135%;   
        letter-spacing: 3px;
        line-height: 150%;
}

.inactive .tapnotice {
        font-size:70%;  
        line-height: 250%;

        letter-spacing: 1px;
}

.inactive div { line-height: 120%; }
