@import url('backgrounds.css');
@import url('user/splash.css');



.computer-font {
  font-family: 'Press Start 2P', cursive !important;
}
.small-font {
  font-size: .6em !important;
}
.medium-font {
  font-size: .8em !important;
}

.valid {  
  color: black;
}

.invalid {
  color: red;
}

.view, .pane, .scroll-content, .scroll, .list, .item, .item-content {
  background-color:rgba(0, 0, 0, 0);
}

.bar {
  background-color:rgba(247, 200, 0, 0.8);
  border: none;
}

.button, .title {
  color:black;
}

.tabs, .tab-item {
  background-color:rgba(247, 200, 0, 0.8);
  color:black;
  border: none;
}

.scroll-content, .list {
  background-color:rgba(255, 255, 255, 0.7);
}


