<header class="bar bar-header bar-dark">
        <h1 class="title">Brew Steps</h1>
</header>
<ion-content class="has-header">
        <div class="ion-view">

                <ion-list>
                        <ion-item class="item"                           
                                  ng-repeat="step in brewSteps" 
                                  item="step" 
                                  can-swipe="step.isCurrent">

                                <h3 ng-bind-html="step.title"></h3>
                                <p ng-show="step.trigger=='user' && step.isCurrent && !step.isActive">Swipe To Activate</p>
                                <p ng-bind-html="step.subtitle" ng-show="step.isActive"></p>

                                <ion-option-button class="button-balanced" ng-click="stepFunctions.activate(step)" ng-show="step.isCurrent && !step.isActive">
                                        GO!
                                </ion-option-button>

                                <div style="background-color:green; position:absolute; top:0px;bottom:0px; left: 0px; width: {{ step.percentageComplete }}%; opacity: 0.2;"></div>

                        </ion-item>
                </ion-list>

        </div>        
</ion-content>