<div class="bar bar-header bar-energized">
  <button class="button button-icon icon ion-ios7-close-empty" ui-sref="tabs.schedule"></button>
  <div class="title">Add An Event</div>
  <button class="button button-icon icon ion-ios7-checkmark-empty" ng-click="saveEvent()"></button>
</div>

<ion-content class="has-header">
  <list>
    <div class="button-bar">
      <button class="button button-light" ng-click="seriesModal.show()">{{seriesLabel}}</button>      
    </div> 
    
    <label class="item item-input">
      <input type="text" placeholder="Title" ng-model="newEvent.title">
    </label>

    <label class="item item-input">
      <input type="text" placeholder="Maximum Participants" ng-model="newEvent.capacity">
    </label>    
    
    <label class="item item-input">
      <select ng-model="timeholder.date">
        <option ng-repeat="date in availableDates" ng-value="date.toString().substring(0,16)">{{ date.toString().substring(0,16); }}</option>
      </select> @ 
      <select ng-model="timeholder.time">
        <option ng-repeat="time in availableTimes">{{ time.toString().substring(16,21); }}</option>
      </select>
    </label>    
    
    <div class="button-bar">
      <button class="button button-light" style="color:#A8A8A8;" ng-click="tutorlistModal.show()">{{tutorLabel}}</button>      
    </div> 
    <div class="button-bar">
      <button class="button button-light" style="color:#A8A8A8;" ng-click="locationModal.show()">{{locationLabel}}</button>      
    </div> 
    <label class="item item-input">
      <textarea placeholder="Description" ng-model="newEvent.description"></textarea>
    </label>
  </list>
</ion-content>