<div class="ion-view">
        <ul class="list">
                <a class="item">
                        <h2><b>{{ recipe.get('name') }}</b></h2>
                        <h2>{{ recipe.get('style') }}</h2>
                </a>

                <div class="item item-icon-right" ng-click="refreshIngredients()">
                        Refresh Ingredients
                        <i class="icon ion-ios7-refresh-empty"></i>

                </div>

                <div class="item item-divider item-icon-right" ng-click="newBrewday.show()">
                        Brew Days
                        <i class="icon ion-ios7-plus-outline"></i>

                </div>

                <a class="item" href="#" ng-repeat="brewday in brewdays">
                        {{ moment(brewday.get('date')).utc().format("Do MMM YYYY @ hh:mma") }}
                </a>

        </ul>

</div>   