<header class="bar bar-header bar-dark">
        <h1 class="title">Recipe Profile</h1>
</header>
<ion-content class="has-header">
        <div class="ion-view">
                <ul class="list">
                        <a class="item">
                                <h2><b>{{ recipe.get('name') }}</b></h2>
                                <h2>{{ recipe.get('style') }}</h2>
                        </a>

                        <div class="item item-icon-right" ng-click="refreshIngredients()">
                                Refresh Ingredients
                                <i class="icon ion-ios7-refresh-empty"></i>

                        </div>

                        <div class="item item-divider item-icon-right" ng-click="newBrewday.show()">
                                Brew Days
                                <i class="icon ion-ios7-plus-outline"></i>

                        </div>

                        <a class="item" href="#" ng-repeat="brewday in brewdays">
                                {{ moment(brewday.get('date')).utc().format("Do MMM YYYY @ hh:mma") }}
                        </a>

                        <div class="item item-divider">
                                Ingredients
                        </div>

                        <a class="item item-icon-left" href="#" ng-repeat="ingredient in regularisedRecipe">
                                {{ ingredient.get('name') }}
                                <span class="item-note">
                                        {{ingredient.get('amount')}}
                                </span> 
                                <i class="icon ion-ios7-checkmark-empty" ng-show="ingredient.get('amount')<ingredient.get('onHand')"></i>
                                <i class="icon ion-ios7-close-empty" ng-hide="ingredient.get('amount')<ingredient.get('onHand')"></i>

                        </a>

                </ul>

        </div>   
</ion-content>