<div class="ion-view">
        <ul class="list">
                <a class="item" ng-click="setOnHand()">
                        <h2>{{ ingredient.get('name') }}</h2> 
                        <p ng-show="ingredient.get('onHand')">{{ processOnhand(ingredient.get('onHand')) }} On Hand</p>
                </a>

                <span ng-hide="ingredient.get('childCount')">

                        <div class="item"  ng-show="ingredient.get('parent').id">
                                <p>
                                        A type of 
                                        <a ui-sref="ui.inventory({ ingredient_id: ingredient.get('parent').id})">{{ ingredient.get('parent').get('name') }}</a>
                                        <a ng-click="setParent(null)">[remove]</a>
                                </p>
                        </div>

                        <label class="item item-input item-select" ng-hide="ingredient.get('parent').id">
                                <div class="input-label">
                                        Set As Type Of:
                                </div>

                                <select
                                        ng-model="selectedIngredient"
                                        ng-change="setParent(selectedIngredient)">

                                        <option ng-repeat="i in ingredients"                                         
                                                value="{{i.id}}">{{ i.get("name") }}</option>
                                        <option value="addone">Add a New Ingredient...</option>

                                </select>

                        </label>
                </span>
                <span ng-show="ingredient.get('childCount')">
                        <div class="item item-divider">
                                Equivalents:
                        </div>
                        <a class="item" ui-sref="ui.inventory({ ingredient_id: child.id})" ng-repeat="child in ingredientChildren">
                                {{child.get('name')}}
                        </a>
                </span>
        </ul>
</div>   