<p style="
          top:10%;
          font-size:400%;
          letter-spacing:5px;
          ">
        SOAK
</p>

<input type="textbox" 
       style="margin-bottom:3%; text-align: center; display: block; width:60%; margin-left:20%;"
       ng-repeat="param in params" 
       placeholder="{{param.hint}}"
       ng-model="param.value"
       />

<p ng-click="submit()"
   style="bottom:45%;
          font-size:100%;
          ">
        [SUBMIT REQUEST]
</p>

<br/>

<p ng-click="deactivate();"
   style="bottom:25%;
          font-size:100%;
          ">
        [DEACTIVATE SYSTEM]
</p>