<ion-view>
        <div class="bar bar-header bar-calm">
                <button class="button button-icon icon ion-toggle" ng-click="activate()"></button>
                <div class="h1 title">SOAK</div>
        </div>

        <ion-content class="has-header has-padding">                    

                <div style="font-size:6em; text-align:center; padding-top:33%;">
                        SOAK
                </div>

                <div style="font-size:1.5em; text-align:center; padding-top:10%;">
                        AUTOMATED BATHING
                </div>

                <div style="font-size:0.8em; text-align:center; padding-top:35%;" ng-click="activate()">
                        {{ message }}
                </div>


        </ion-content>
</ion-view>
